
<mat-toolbar color="primary">
    <span>Task Management</span>
    <!-- <span class="toolbar-space"></span> -->
     <a routerLink="/tasklist" mat-button routerLinkActive="active" ariaCurrentWhenActive="page">Task List</a>
     <!-- <span class="toolbar-space"></span> -->
     <a routerLink="/showchart" mat-button routerLinkActive="active">Show Chart</a>
</mat-toolbar>
   <router-outlet></router-outlet>
<!-- <app-task-list></app-task-list>
<app-taskform></app-taskform>
<app-chart></app-chart> -->