:host ::ng-deep{
    .input-field{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
        gap: 5px;
    }
    .button-container{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    .modal-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}